@import '@fortawesome/fontawesome-free/css/fontawesome.min.css';
@import '@fortawesome/fontawesome-free/css/brands.min.css';
@import '@fortawesome/fontawesome-free/css/solid.min.css';

:root {
    --white-color: #f5f5f5;
    --color: #fff;
    --background: #2866A8;
    --icon-size: 240px;
}

body {
    background-color: #00B0C2;
}

* {
    color: var(--white-color);
}

h1 {
    line-height: 1.4em;
    padding: 1em;
    border: 1px solid #ddd;
    border-left-width: 0;
    border-right-width: 0;
    min-width: 8em;
    margin: .17em 0;
}

a, a:hover {
    text-decoration: none;
    color: currentColor;
    border-bottom: 1px solid currentColor;
}

.slide.title {
    background-color: #00ABCD;
}

/* Profile */

.profile-avatar {
    border-radius: 50%;
    height: var(--icon-size);
    width: var(--icon-size);
}

.profile {
    display: flex;
}

.profile > .profile-right {
    text-align: left;
    padding-left: 32px;
}

.profile > .profile-right > h4 {
    font-size: 1.2rem;
}

.profile > .profile-right > h5 > i {
}

/* SNS list*/
.sns-list {
    display: flex;
    font-size: 40px;
    justify-content: center;
}

.sns-list > a {
    border: none;
}

.sns-list > a:not(:first-child) {
    padding-left: 16px;
}

.block {
    margin: 0 auto;
    height: 100px;
    width: 600px;
}

.source {
    font-size: 20px;
}

.split {
    display: flex;
    justify-content: center;
}

.split > *:not(:last-child) {
    margin-right: 10px;
}

.split > *:last-child {
    margin-left: 10px;
}